<footer class="footer">
    <ul class="footer-list">
        <li class="heading2">Contact</li><br>
        <li>Country: Croatia</li>
        <li>Phone: +1-202-555-0131</li>
        <li>E-mail: graphvisualizerteam@gmail.com</li><br>
        <li class="footer-list-item-with-img">
            <a href="https://www.google.com/maps/place/Unska+ul.+3,+10000,+Zagreb">
                <img src="/images/footer/location.png" width="20px" height="20px" alt="location image">
            </a>
            <span>Unska 3, 10000, Zagreb</span>
        </li>
    </ul>
    <ul class="footer-list">
        <li class="heading2">References</li><br>
        <li class="footer-list-item-with-img">
            <a href="https://icons8.com/">
                <img src="/images/footer/icons8.png" width="30px" height="30px" alt="icons8 image">
            </a>
            <span>ICONS8</span>
        </li>
        <li class="footer-list-item-with-img">
            <!-- source: https://www.vector69.com/2020/10/vecteezy-new-2020-logo-png.html -->
            <a href="https://www.vecteezy.com/free-vector/lines-dots">
                <img src="/images/footer/vecteezy.png" width="30px" height="30px" alt="vecteezy image">
            </a>
            <span>Lines Dots Vectors by Vecteezy</span>
        </li>
        <li class="footer-list-item-with-img">
            <a href="https://developers.facebook.com/docs/graph-api/">
                <img src="/images/footer/meta.png" width="30px" height="30px" alt="GraphAPI image">
            </a>
            <span>GraphAPI</span>
        </li>
    </ul>
    <ul class="footer-list">
        <li class="heading2">Social Networks</li><br>
        <img src="/images/footer/facebook.png" width="30px" height="30px" alt="facebook image">
        <img src="/images/footer/instagram.png" width="30px" height="30px" alt="instagram image">
        <img src="/images/footer/youtube.png" width="30px" height="30px" alt="youtube image">
        <img src="/images/footer/linkedin.png" width="30px" height="30px" alt="linkedin image">
    </ul>
    <ul class="footer-list">
        <li class="heading2">Copyright</li><br>
        <li>University of Zagreb</li>
        <li style="white-space: nowrap">Faculty of Electrical Engineering and Computing</li>
        <li>Copyright &copy; 2022-2023 All Rights Reserved</li><br>
        <!-- source: https://sociallab.fer.hr/innosid/consortium/fer/ -->
        <a href="https://www.fer.unizg.hr/">
            <img src="/images/footer/fer.png" width="50px" height="21px">
        </a>
    </ul>
</footer>