<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/properties.css">

<div class="centered-div" style="visibility: visible; text-align: center;">
    <div style="font-family: EncodeSans-Bold, serif; font-size: 3em">403 - Access Denied</div>
    <div style="font-size: 1.5em">You don't have permission to access this page!</div>
    <button class="properties-button" style="margin-top: 10px" onclick="location.replace('/')">Home</button>
</div>