<link rel="stylesheet" href="styles/loading.css">

<div id="loading-container">
    <span class="logo-img">
        <img src="images/logo.png" alt="logo icon">
        <span>Graph Visualizer</span>
    </span>

    <div class="loading-circle-mask center">
        <div class="loading-circle"></div>
    </div>
</div>