<script type="module" src="/scripts/helpers/graph/insert_graph.js" defer></script>
<link rel="stylesheet" href="styles/graph/insert_graph.css">

<div id="insert-graph-div" class="centered-div toolbar-properties">
    <%- include(`../close`, {
        id: 'close-insert-graph',
        container: 'insert-graph-div'
    }); %>
    <div id="insert-graph-heading" class="component-heading">Insert Graph</div>
    <div class="heading1-underline"></div>

    <div id="insert-graph-grid" class="content1"></div>
</div>