<div id="clear-canvas-div" class="centered-div toolbar-properties">
    <div id="clear-canvas-heading" class="component-heading">Clear Canvas</div>
    <div class="heading1-underline"></div>

    <div class="content1 content1-no-wrap">
        <p class="centered-p-in-window">
            Are you sure that you want to delete all items?<br>
            An operation can't be undone!
        </p>
        <div class="buttons">
            <button type="button" class="properties-button" id="confirm-clear-canvas-button">Confirm</button>
            <button type="button" class="properties-button" id="cancel-clear-canvas-button">Cancel</button>
        </div>
    </div>
</div>