<script type="module" src="/scripts/helpers/import.js" defer></script>

<% const name = 'import'; %>
<div id="<%= name %>-div" class="centered-div toolbar-properties">
    <%- include(`./close`, {
    id: 'close-' + name,
    container: name + '-div'
    }); %>
    <div id="<%= name %>-heading" class="component-heading">Import Graph</div>
    <div class="heading1-underline"></div>

    <div class="content1">
        <p id="import-paragraph" class="centered-p-in-window">
            Note: File extension has to be .json.<br>
            You can upload only one file!
        </p>
        <form action="/import" method="post" enctype="multipart/form-data" class="buttons">
            <button
                    type="button"
                    class="properties-button"
                    id="import-choose-button"
                    onclick="document.getElementById('import-choose-input').click()">
                Choose
            </button>
            <input type="file" name="fileToImport" id="import-choose-input">
            <label for="import-submit-input" hidden></label>
            <input type="submit" id="import-submit-input" class="properties-button" value="Submit" disabled>
            <button type="button" class="properties-button" id="cancel-import-button">Cancel</button>
        </form>
    </div>
    <!--      Server side data passed to frontend      -->
    <% /** @property {string} imported */ %>
    <div id="imported" hidden><%= imported %></div>
</div>