<script type="module" src="/scripts/helpers/show_data.js" defer></script>
<div id="show-data-div" class="centered-div toolbar-properties">
    <div id="show-data-heading" class="component-heading">Show Data</div>
    <div class="heading1-underline"></div>

    <div class="content1 content1-no-wrap" id="show-data-content">
        <label id="show-vertex-id-label" for="show-vertex-id-input">Vertex ID</label>
        <input id="show-vertex-id-input" type="checkbox" checked>

        <label id="show-edge-id-label" for="show-edge-id-input">Edge ID</label>
        <input id="show-edge-id-input" type="checkbox" checked>

        <label id="show-vertex-color-label" for="show-vertex-color-input">Vertex color</label>
        <input id="show-vertex-color-input" type="checkbox" disabled>

        <label id="show-edge-color-label" for="show-edge-color-input">Edge color</label>
        <input id="show-edge-color-input" type="checkbox" disabled>

        <label id="show-plane-color-label" for="show-plane-color-input">Plane color</label>
        <input id="show-plane-color-input" class="check-box-input" type="checkbox" disabled>

        <div class="buttons" id="show-data-buttons">
            <button type="button" class="properties-button" id="save-show-data-button">Save</button>
            <button type="button" class="properties-button" id="cancel-show-data-button">Cancel</button>
        </div>
    </div>
</div>