<link rel="stylesheet" href="styles/warning2.css">

<div id="warning-2-div" class="centered-div toolbar-properties">
    <%- include(`./close`, {
    id: 'close-warning-2',
    container: 'warning-2-div'
    }); %>
    <div id="warning-2-heading" class="component-heading">Warning!</div>
    <div class="heading1-underline"></div>

    <div id="warning-2-grid" class="content1">
        <span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the f the printing and typesetting industry. Lorem Ipsum has been th</span>
        <img src="/images/warning/warning2.png" alt="warning 2 image">
    </div>
</div>