<div id="weight-div" class="centered-div toolbar-properties">
    <div id="weight-heading" class="component-heading">Edge Weight</div>
    <div class="heading1-underline"></div>

    <div class="content1">
        <div id="weight-table"></div>

        <div class="buttons">
            <label for="import-submit-input" hidden></label>
            <button type="button" class="properties-button" id="save-weight-button">Save</button>
            <button type="button" class="properties-button" id="cancel-weight-button">Cancel</button>
        </div>
    </div>
</div>